---
layout: default
class: home
css: ["pages/index.css"]
comments: false
---

<aside class="author-info flexable --line-center">
  <img
    src="/assets/images/IMG_1862.jpg"
    alt="用户头像"
    class="user-photo mr-8"
  />
  <span class="flex-auto">
    Everything is inferior but Coding...<br />
    A millennial coder
  </span>
  <span class="contacts">
    {% for link in site.navs %}
    <a target="_blank" href="{{link.href}}" title="{{link.title}}"
      ><span class="icon {{link.icon}}"
        ><svg aria-hidden="true">
          <use xlink:href="#icon-{{link.icon}}"></use>
        </svg>
      </span>
    </a>
    {% endfor %}
  </span>
</aside>

{% include search.html mode="article" out="search-art-list-wrap" data="post" %}

<section id="search-art-list-wrap" class="art-list-wrap"></section>
<section class="art-list-wrap">
  {% for post in paginator.posts %}
  <div class="art-list-item">
    <h3 class="art-list-item-title">
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    <small class="repo-list-meta flexable --line-center">
      <span class="meta-info mr-8"> {{ post.date | date: "%b %d, %Y" }} </span>
      {% if post.categories %}《 {% for cat in post.categories %}
        <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}"
          >{{ cat }}</a
        >
        {% unless forloop.last %}·{% endunless %}
      {% endfor %} 》{% endif %}
      <span class="flex-auto"></span>
      {% for key in post.tags %}
      <span class="tag">
        <a class="plain" href="{{ site.url }}/tags/#{{ key }}" title="{{ key }}"
          >{{ key }}</a
        >
      </span>
      {% endfor %}
    </small>
    {% if post.description %}
    <p class="desc">{{ post.description }}</p>
    {% endif %}
  </div>
  {% endfor %}
</section>
<!-- /section.content -->
