---
layout: default
class: home
css: ["pages/index.css"]
comments: false
---

<aside class="author-info flexable --line-center">
  <img
    src="/src/assets/images/IMG_1862.jpg"
    alt="用户头像"
    class="user-photo mr-8"
  /><span class="flex-auto"
    >Everything is inferior but reading<br />
    A millennial coder</span
  ><span class="contacts"
    ><a href="javascript:;" title="Github"
      ><span class="icon github3"
        ><svg aria-hidden="true">
          <use xlink:href="#icon-github3"></use></svg></span></a
    ><a href="javascript:;" title="Instagram"
      ><span class="icon ins"
        ><svg aria-hidden="true">
          <use xlink:href="#icon-ins"></use></svg></span></a
    ><a href="javascript:;" title="Twitter"
      ><span class="icon twitter3"
        ><svg aria-hidden="true">
          <use xlink:href="#icon-twitter3"></use></svg></span></a
    ><a href="javascript:;" title="Sina Weibo"
      ><span class="icon weibo3"
        ><svg aria-hidden="true">
          <use xlink:href="#icon-weibo3"></use></svg></span></a
  ></span>
</aside>
<section class="art-list-wrap">
  {% for post in paginator.posts %}
  <div class="art-list-item">
    <h3 class="art-list-item-title">
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    <p class="repo-list-meta">
      <span class="meta-info">
        <span class="octicon octicon-calendar"></span> {{ post.date | date:
        "%Y/%m/%d" }}
      </span>
      {% for cat in post.categories %}
      <span class="meta-info">
        <span class="octicon octicon-file-directory"></span>
        <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}"
          >{{ cat }}</a
        >
      </span>
      {% endfor %}
    </p>
  </div>
  {% endfor %}
</section>
<!-- /section.content -->
