---
layout: default
class: home
css: ["pages/index.css"]
comments: false
---

<aside class="author-info flexable --line-center">
  <img
    src="/assets/images/IMG_1862.jpg"
    alt="用户头像"
    class="user-photo mr-8"
  />
  <span class="flex-auto">
    Everything is inferior but Coding...<br />
    A millennial coder
  </span>
  <span class="contacts">
    {% for link in site.navs %}
    <a target="_blank" href="{{link.href}}" title="{{link.title}}"
      ><span class="icon {{link.icon}}"
        ><svg aria-hidden="true">
          <use xlink:href="#icon-{{link.icon}}"></use>
        </svg>
      </span>
    </a>
    {% endfor %}
  </span>
</aside>

{% include sidebar-search.html %}
<section class="art-list-wrap">
  {% for post in paginator.posts %}
  <div class="art-list-item">
    <h3 class="art-list-item-title">
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    <p class="repo-list-meta">
      <span class="meta-info">
        <span class="octicon octicon-calendar"></span> {{ post.date | date: "%b
        %d, %Y" }}
      </span>
      {% for cat in post.categories %}
      <span class="meta-info">
        <span class="octicon octicon-file-directory"></span>
        <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}"
          >{{ cat }}</a
        >
      </span>
      {% endfor %}
    </p>
  </div>
  {% endfor %}
</section>
<!-- /section.content -->
