---
layout: default
---

<section data-pattern-id="{{ page.title | truncate: 15, ''}}">
  <header class="art-view-hd">
    <h1 class="art-title">{{ page.title }}</h1>
  </header>

  <aside class="art-post-date">
    {% if page.date %} {{ page.date | date: "%b %d, %Y" }} {% endif %} {% for
    cat in page.categories %}
    <span class="meta-info">
      <span class="octicon octicon-file-directory"></span>
      <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}"
        >{{ cat }}</a
      >
    </span>
    {% endfor %}
  </aside>

  <article class="art-view-bd article-content">{{ content }}</article>
</section>
<!-- / .banner -->

<section class="comment">{% include comments.html %}</section>
<!-- /section.content -->
