---
layout: default
---

<article class = "page-bd-wrap">
  <header class="art-view-hd">
    <h1 class="art-title">{{ page.title }}</h1>
  </header>

  <aside class="art-post-date">
    {% if page.date %} {{ page.date | date: "%b %d, %Y" }} {% endif %}
    {% if page.category %}
    《<a href="{{ site.url }}/categories/#{{ page.category }}" title="{{ page.category }}"
        >{{ page.category }}</a
      >》
    {% endif %}
  </aside>

  <article class="art-view-bd article-content">{{ content }}</article>
</article>
<!-- / .banner -->
{%- if page.comments != false -%}
{% include comments.html %}
{%- endif -%}
<!-- /section.content -->
